<div class="container_home">
    <div class="logo">
        <img class="logomain" src="img/logo.png" alt="">
    </div>
    <div class="btn-group-justified">
        <a href="/auth/signup" id='signup_btn' class="btn btn-primary btn-lg">REGISTER</a>
        <a href="/auth/login" id='login_btn' class="btn btn-default btn-lg">LOGIN</a>

    </div>

    <div class="media">
        <div class="media-left media-middle">

            <img class="policy-reminder" src="http://www.myiconfinder.com/uploads/iconsets/256-256-4d0e5b9f9bc31c22ccb0deccd4b9b625.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Policy Expiry Reminder</h3>
            <h5>Making sure your customers never miss a policy renewal. INS Hub allows you to create reminders that can be triggered at selected times before the policy expiry. Reminders can be delivered via email.</h5>
        </div>
    </div>

    <div class="media">
        <div class="media-left media-middle">

            <img class="email-notify" src="http://www.freeiconspng.com/uploads/file-tk-email-icon-svg-28.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Email Notifications</h3>
            <h5>Email reminder notifications will be sent on a scheduled basis to remind you your client's expiry of policy so that you will be able to focus on your business! </h5>
        </div>
    </div>




</div>
